@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  width: 100%;
  height: 100vh;
}
#__next {
  height: 100%;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #9f9f9f;
}
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
.dark::view-transition-old(root) {
  z-index: 1;
}
.dark::view-transition-new(root) {
  z-index: 9999;
}
::view-transition-old(root) {
  z-index: 9999;
}
::view-transition-new(root) {
  z-index: 1;
}
@layer components {
  .item {
    @apply flex cursor-pointer items-center justify-center text-ellipsis rounded-lg p-1 hover:bg-slate-200 hover:text-slate-900 active:bg-slate-200 dark:hover:bg-slate-800 dark:hover:text-slate-300 dark:active:bg-slate-800;
  }
  .card {
    @apply relative inline-flex w-full h-full cursor-pointer items-center gap-4 rounded border-2 border-dashed p-2 hover:bg-slate-200 hover:text-slate-900 dark:hover:bg-slate-800 dark:hover:text-slate-300;
  }
  .link {
    @apply relative whitespace-nowrap z-10 hover:after:top-[0%] after:content-[''] after:absolute after:z-[-1] after:top-[80%] after:-left-[0.1em] after:-right-[0.1em] after:bottom-0 after:bg-primary after:transition-all after:duration-300 after:ease-out;
  }
}
@layer utilities {
  .hover-transition {
    @apply cursor-pointer transition duration-300 delay-150 ease-in-out hover:-translate-y-1;
  }
}
